SERVER_PORT=8085
JWT_SECRET=
GATEWAY_INTERNAL_SIGNING_SECRET=
AUTHSERVICE_BASE_URL=http://authservice:8082
USERSERVICE_BASE_URL=http://userservice:8080
ORDERSERVICE_BASE_URL=http://orderservice:8080
AUTH_DB_NAME=authDB
AUTH_DB_USERNAME=postgres
AUTH_DB_PASSWORD=
AUTH_DB_PORT=5432
USER_DB_NAME=userServiceDb
USER_DB_USERNAME=postgres
USER_DB_PASSWORD=
USER_SPRING_DATASOURCE_URL=jdbc:postgresql://userservice-postgres:5432/userServiceDb
USER_SPRING_DATASOURCE_USERNAME=postgres
USER_SPRING_DATASOURCE_PASSWORD=
USER_SPRING_DATASOURCE_DRIVER_CLASS_NAME=org.postgresql.Driver
SPRING_PROFILES_ACTIVE=docker
REDIS_HOST=redis
REDIS_PORT=6379
SERVICES_INTERNAL_SECRET=
ORDER_DB_NAME=orderserviceDb
ORDER_DB_USERNAME=postgres
ORDER_DB_PASSWORD=
ORDER_SPRING_DATASOURCE_DRIVER_CLASS_NAME=org.postgresql.Driver
